.s-hero{
    position: relative;
    z-index: 2;
    .slide-thumbnail{
        position: absolute;
        z-index: 2;
        top: 15.0625rem;
        left: 6%;
        height: 20rem;

        .swiper-wrapper{
            .swiper-slide{
                width: 100%;
                max-width: 3rem;
                height: 3rem;
                cursor: pointer;
                opacity: 0.4;
                filter: grayscale(100%);

                &.disabled{
                    pointer-events: none;
                }
                &.swiper-slide-thumb-active{
                    opacity: 1;
                    filter: grayscale(0%);
                }
            }
        }
    }
    .slide-principal{
        width: 100%;
        height: 46rem;

        .swiper-wrapper{
            .swiper-slide{
                padding-top: 12.9375rem;
                
                &.slide01{
                    background: url(/img/assets/banner-slide-01.jpg) no-repeat center center;
                }
                &.slide02{
                    background: url(/img/assets/banner-slide-02.jpg) no-repeat center center;
                    .right-content{
                        .logo{
                            height: 13.125rem;
                            margin-bottom: 3.5rem;
                        }
                    }
                }
                &.slide03{
                    background: url(/img/assets/banner-slide-03.jpg) no-repeat center center;
                   .left-content{
                        max-width: 39.125rem;
                   }
                }

                .container{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                }

                .left-content{
                    margin-left: 200px;
                    width: 100%;
                    max-width: 35.125rem;

                    h2{
                        font-weight: bold;
                        font-size: 4rem;
                        line-height: 4.375rem;
                        color: $white;
                        margin-bottom: 1rem;
                    }

                    p{
                        font-weight: 400;
                        font-size: 1.125rem;
                        line-height: 1.6875rem;
                        color: $white;
                        margin-bottom: 2rem;
                    }

                    .btn{
                        padding: 0 2.375rem;
                        line-height: 3.25rem    ;
                    }
                }

                .right-content{
                    width: 100%;
                    max-width: 18.25rem;
                    margin-top: -2.125rem;

                    .logo{
                        width: 17.5rem;
                        height: 11.25rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 5.375rem;
                    }

                    .video{
                        width: 100%;
                        max-width: 17.5rem;

                        span{
                            display: block;
                            text-align: right;
                            font-weight: 600;
                            line-height: 1.1875rem;
                            text-transform: uppercase;
                            color: $white;
                            margin-bottom: 1rem;
                        }

                        .btn-video{
                            width: 100%;
                            height: 9.875rem;
                            position: relative;
                            overflow: hidden;
                            border-radius: .375rem;

                            .thumb{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: opacity .3s;
                                &:hover{
                                    &.default{
                                        opacity: 0;
                                    }
    
                                    &.hover{
                                        opacity: 1;
                                    }
                                }

                                &.default{
                                    opacity: 1;
                                }

                                &.hover{
                                    opacity: 0;
                                }
                            }

                            .icon{
                                position: relative;
                                z-index: 1;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 3.1875rem;
                                height: 3.1875rem;
                                border-radius: 50px;
                                background: linear-gradient(136.72deg, rgba(7, 7, 10, 0.86));
                                backdrop-filter: blur(3px);
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

.s-games{
    padding-top: 5.375rem;
    padding-bottom: 6.875rem;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 5.375rem;

        .left-top{
            display: flex;
            align-items: flex-start;
            width: 100%;
            max-width: 25rem;

            span{
                color: $neutral-700;
                font-size: .9375rem;
                font-weight: 600;
                line-height: 1.4063rem;
                margin-right: 10.75rem;
                display: block;
                margin-top: .6875rem;
            }

            h2{
                width: 100%;
                max-width: 10.9375rem;
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.2037rem;
            }
        }

        .right-top{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            max-width: 47rem;

            ul{
                display: flex;
                gap: 1.5rem;
                justify-content: space-between;
                margin-left: 10rem;

                li{
                    a{
                       img{
                            opacity: 0.5;
                            transition: opacity .3s;
                       }
                       &.active{
                        img{
                            opacity: 1;
                        }
                       }
                    }
                }
            }

            .btn-all-games{
                display: flex;
                align-items: center;
                gap: .625rem;
                color: $primary-default;
            }
        }
    }

  .tab-games-content{

    .tab-pane-games{
        display: none;

        &.active{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2.875rem 2rem;
            animation: fadeUp .4s forwards;
        }

        .card-all-games{
            width: 100%;
            max-width: 17.5rem;
            border: 1px solid $neutral-700;
            height: 24rem;
            border-radius: .375rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            span{
                margin-top: 2.25rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .875rem;
            }
        }
    }
  }
}

.s-download{
    width: 100%;
    height: 53.125rem;
    background: url(/img/assets/background-section-download.png) no-repeat center center;
    overflow: hidden;
    background-size: cover;
    position: relative;

    .text-left{
        width: 100%;
        max-width: 18.6875rem;
        padding-top: 8.25rem;

        .logo{
            margin-bottom: 1.875rem;
        }

        h2{
            font-weight: bold;
            font-size: 2rem;
            line-height: 110.2%;
            color: $white;
            margin-bottom: 1.875rem;
        }

        ul{
            margin-bottom: 2.625rem;
            li{
                &:not(:last-child){
                    margin-bottom: 24px;
                }
                
                a{
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    p{
                        font-size: 1.125rem;
                        color: #828792;
                        font-weight: 400;
                        line-height: 2.005rem;
                    }
                }

                .icon{
                    width: 1.125rem;
                    height: 1.125rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .btn{
            margin-bottom: 2.9375rem;
            padding: 0 4rem;
            line-height: 3.25rem;
        }

        .app{
            display: flex;
            align-items: center;
            gap: 1.125rem;

            p{
                font-weight: 600;
                font-size: 16px;
                line-height: 1.3125rem;

                a{
                    text-decoration: underline;
                    cursor: pointer;
                    transition: color .3s;

                    &:hover{
                        color: $primary-light;
                    }
                }
            }
        }
    }

    .image{
        position: absolute;
        top: 6.1875rem;
        right: -12.5rem;
        width: 100%;
        max-width: 66.625rem;
        height: 38.125rem;
        
        .img-lg{
            position: absolute;
            top: 0;
            left: 0;
            animation: float 8s ease-in-out infinite;
        }

        .img-sm{
            position: absolute;
            right: 4.375rem;
            bottom: -1.75rem;
            animation: float 6s ease-in-out infinite;
        }
    }

}

.show-modal{
    .modal{
        opacity: 1;
        pointer-events: all;

        .box{
            transform: translateY(0rem);
        }
    }
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2025;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .box{
        position: relative;
        z-index: 1;
        width: 100%;
        max-width: 43.5rem;
        height: 37.5rem;
        background: url('/img/assets/bg-modal.png') no-repeat $neutral-100 top left;
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(3.125rem);
        transition: transform .3s;
        .close{
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
        }

        .logo{
            margin-bottom: 2.5rem;
            width: 10.375rem;
        }

        form{
            width: 100%;
            max-width: 26.625rem;
            margin-bottom: 3rem;

            .form-group{
                margin-bottom: 1rem;

                &:last-child{
                    margin-bottom: 1.5rem;
                }

                input[type = 'text'], input[type = 'password']{
                    width: 100%;
                    height: 48px;
                    border-radius: .25rem;
                    border: none;
                    padding: 0 1rem;
                    font-weight: 500;
                    font-size: .9375rem;
                    line-height: 1.375rem;
                    color: $neutral-700;
                    &::placeholder{
                        opacity: 0.6;
                    }
                }
                
                button{
                    width: 100%;
                    justify-content: center;
                    color: $white;
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }

        .others-connect{
            margin-bottom: 2.1875rem;
            
            p{
                text-align: center;
                font-weight: 500;
                font-size: .875rem;
                line-height: 1.3125rem;
                color: $white;
                margin-bottom: 1rem;
            }

            ul{ 
                display: flex;
                
                li{
                    &:not(:first-child){
                        margin-left: 16px;
                    }

                    button{
                        width: 3rem;
                        height: 3rem;
                        border-radius: .25rem;
                        background-color: $white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .message-user{
            text-align: center;


            p{
                margin-bottom: 1rem;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }
            a{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-decoration: underline;
                color: $primary-light;
                transition: .3s;

                &:hover{
                    color: $white;
                }
            }
        }
    }
}

@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}