.s-hero{
    position: relative;

    .slide-thumbnail{
        position: absolute;
        z-index: 2;
        top: 15.0625rem;
        left: 6%;
        height: 20rem;

        .swiper-wrapper{
            .swiper-slide{
                width: 100%;
                max-width: 3rem;
                height: 3rem;
                cursor: pointer;
                opacity: 0.4;
                filter: grayscale(100%);

                &.disabled{
                    pointer-events: none;
                }
                &.swiper-slide-thumb-active{
                    opacity: 1;
                    filter: grayscale(0%);
                }
            }
        }
    }
    .slide-principal{
        width: 100%;
        height: 46rem;

        .swiper-wrapper{
            .swiper-slide{
                padding-top: 12.9375rem;
                
                &.slide01{
                    background: url(/img/assets/banner-slide-01.jpg) no-repeat center center;
                }
                &.slide02{
                    background: url(/img/assets/banner-slide-02.jpg) no-repeat center center;
                    .right-content{
                        .logo{
                            height: 13.125rem;
                            margin-bottom: 3.5rem;
                        }
                    }
                }
                &.slide03{
                    background: url(/img/assets/banner-slide-03.jpg) no-repeat center center;
                   .left-content{
                        max-width: 39.125rem;
                   }
                }

                .container{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                }

                .left-content{
                    margin-left: 200px;
                    width: 100%;
                    max-width: 35.125rem;

                    h2{
                        font-weight: bold;
                        font-size: 4rem;
                        line-height: 4.375rem;
                        color: $white;
                        margin-bottom: 1rem;
                    }

                    p{
                        font-weight: 400;
                        font-size: 1.125rem;
                        line-height: 1.6875rem;
                        color: $white;
                        margin-bottom: 2rem;
                    }

                    .btn{
                        padding: 0 2.375rem;
                        line-height: 3.25rem    ;
                    }
                }

                .right-content{
                    width: 100%;
                    max-width: 18.25rem;
                    margin-top: -2.125rem;

                    .logo{
                        width: 17.5rem;
                        height: 11.25rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 5.375rem;
                    }

                    .video{
                        width: 100%;
                        max-width: 17.5rem;

                        span{
                            display: block;
                            text-align: right;
                            font-weight: 600;
                            line-height: 1.1875rem;
                            text-transform: uppercase;
                            color: $white;
                            margin-bottom: 1rem;
                        }

                        .btn-video{
                            width: 100%;
                            height: 9.875rem;
                            position: relative;
                            overflow: hidden;
                            border-radius: .375rem;

                            .thumb{
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: opacity .3s;
                                &:hover{
                                    &.default{
                                        opacity: 0;
                                    }
    
                                    &.hover{
                                        opacity: 1;
                                    }
                                }

                                &.default{
                                    opacity: 1;
                                }

                                &.hover{
                                    opacity: 0;
                                }
                            }

                            .icon{
                                position: relative;
                                z-index: 1;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 3.1875rem;
                                height: 3.1875rem;
                                border-radius: 50px;
                                background: linear-gradient(136.72deg, rgba(7, 7, 10, 0.86));
                                backdrop-filter: blur(3px);
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

.s-games{
    padding-top: 5.375rem;
    padding-bottom: 6.875rem;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 5.375rem;
        
        .left-top{
            display: flex;
            align-items: flex-start;
            width: 100%;
            max-width: 25rem;

            span{
                color: $neutral-700;
                font-size: .9375rem;
                font-weight: 600;
                line-height: 1.4063rem;
                margin-right: 10.75rem;
                display: block;
                margin-top: .6875rem;
            }

            h2{
                width: 100%;
                max-width: 10.9375rem;
                font-weight: 700;
                font-size: 2rem;
                line-height: 2.2037rem;
            }
        }

        .right-top{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            max-width: 47rem;

            ul{
                display: flex;
                gap: 1.5rem;
                justify-content: space-between;
                margin-left: 10rem;
            }

            .btn-all-games{
                display: flex;
                align-items: center;
                gap: .625rem;
                color: $primary-default;
            }
        }
    }
}