.btn{
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    padding: .625rem 1rem;
    border: 1px solid transparent;
    border-radius: .1875rem;
    font-weight: 500;
    font-size: 14px;
    color: $white;

    &-primary{
        background-color: $primary-default;
        border-color: $primary-default;
        &:hover{
            background-color: $primary-light;
            transition: .3s;
        }
    }

    &-outline{
        border-color: $white;
        &:hover{
            background-color: $white;
            color: $neutral-100;
            transition: .3s;
        }
    }
}


.game-card{
    display: block;
    width: 100%;
    max-width: 280px;
    &:hover{
        .image{
            img{
                transform: scale(1.05);
                
            }
        }
    }
    .image{
        overflow: hidden;
        border-radius: 6px;
        height: 24rem;
        width: 100%;
        margin-bottom: 1.625rem;
        img{
            transition: transform .4s ease-in;
        }
    }

    .info{
        color: $white;

        h3{
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.6875rem;
        }

        span{
            font-weight: 400;
            font-size: 14px;
            line-height: 1.3125rem;
            color: rgba(299, 299, 299, 0.8);
        }
    }
}