*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

img{
    max-width: 100%;
    display: block;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

html{
    background-color: $background-primary;
}


a{
    display: inline-block;
}
